<div id="username-login-form">
	<p id="login-fail"></p>
	<form id="set-name-form">
		<label>Enter a username:</label>
		<input size="35" id="username"></input>
		<input type="submit"></input>
	</form>
</div>

<div id="content-wrapper">
	<div id="chat-wrapper">
		<div id="chat"></div>
	</div>
	<div id="sender-wrapper">
		<form id="send-message">
			<div id="input-container">
				<input type="text" id="message">
				<!-- <textarea id="message" rows="5"></textarea> -->
				<!-- <button type="submit" id="submitter">lingling</button> -->
			</div>
		</form>
	</div>
	<div id="users"></div>
</div>
<script src="vendors/socketio/node_modules/socket.io-client/socket.io.js"></script>
<script src="vendors/jquery/dist/jquery.js"></script>
<script src="javascripts/app.js"></script>
<link rel='stylesheet' href='/stylesheets/chat-stylesheets/chat-style.css' />
