
<div id="login-wrapper">
	<div id="username-login-form">
		<p id="login-fail"></p>
		<form id="set-name-form">
				<label>Who the hell are you?</label>
				<input size="15" maxlength="13"id="username" placeholder="some bitch"></input>
				<input type="submit"></input>
		</form>
	</div>
</div>

<div id="content-wrapper">
	<div id="chat-wrapper">
		<div id="chat"></div>
	</div>
	<div id="sender-wrapper">
		<form id="send-message">
			<div id="input-container">
				<textarea id="message" rows="2" form="send-message" maxlength="1200"></textarea>
			</div>
		</form>
	</div>
	<div id="users"></div>
</div>
<script src="vendors/socketio/node_modules/socket.io-client/socket.io.js"></script>
<script src="vendors/jquery/dist/jquery.js"></script>
<script src="javascripts/app.js"></script>
<link rel='stylesheet' href='/stylesheets/chat-stylesheets/chat-style.css' />

<!-- not for production -->
<!--
<div id="room-wrapper">
	<div id="room-form">
		<p id="room-fail"></p>
		<form id="set-room-form">
				<label>Where the hell do you want to go?</label>
				<input size="35" id="room-name" placeholder="Another brick in the wall"></input>
				<input type="submit"></input>
		</form>
	</div>
</div> -->
