<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- INSERT SCRIPTS HERE -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>
