<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css"
  </head>
  <body id="earth">
    <div id="preloader_1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    {{{body}}}
    <script type="text/javascript" src="/javascripts/preloader.js"></script>
  </body>
</html>
