body{
  color: white;
  background: black;

  #preloader_1{
    width: 100%;
    height: 100%;
    position: fixed;
    // position: fixed;
    // top: 0; bottom: 0; right: 0; left: 0;
    background-color: black;
    z-index: 100;
  }

  // #preloader_1{
  //   position: fixed;
  //   top: 0; bottom: 0; right: 0; left: 0;
  //   background-color: blue;
  //   z-index: 100;
  // }
  #preloader_1 span{
    display:block;
    top: 40%;
    bottom: 40%;
    left: 46%;
    width: 2%;
    height: 2%;
    background:#9b59b6;
    position:fixed;
    animation: preloader_1 1.5s  infinite ease-in-out;
  }

  #preloader_1 span:nth-child(2){
    left: 48%;
    animation-delay: .2s;

  }
  #preloader_1 span:nth-child(3){
    left:50%;
    animation-delay: .4s;
  }
  #preloader_1 span:nth-child(4){
    left:52%;
    animation-delay: .6s;
  }
  #preloader_1 span:nth-child(5){
    left:54%;
    animation-delay: .8s;
  }
  @keyframes preloader_1 {
      0% {height:4%;transform:translateY(0px);background:#9b59b6;}
      25% {height:10%;transform:translateY(15px);background:#3498db;}
      50% {height:4%;transform:translateY(0px);background:#9b59b6;}
      100% {height:4%;transform:translateY(0px);background:#9b59b6;}
  }
  #chat{
    height:500px;
  }
  #contentWrap{
    display: none;
  }
  #chatWrap{
    float: left;
    border: 1px #000 solid;
  }
  .error{
    color: red;
  }
  .whisper{
    color: gray;
    font-style: italic;
  }
}
