@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
html, body {
  width: 100%;
  height: 100%;
  font-family: "Bitter", serif;
  overflow: hidden;
  margin: 0;
  background-color: #677271; }
  html body ::-webkit-scrollbar, body body ::-webkit-scrollbar {
    width: 1vw;
    height: 2vh; }
  html body ::-webkit-scrollbar-button, body body ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px; }
  html body ::-webkit-scrollbar-thumb, body body ::-webkit-scrollbar-thumb {
    background: #252B2D;
    border: 0px none #8ed7ff;
    border-radius: 50px; }
  html body ::-webkit-scrollbar-thumb:hover, body body ::-webkit-scrollbar-thumb:hover {
    background: #647479; }
  html body ::-webkit-scrollbar-thumb:active, body body ::-webkit-scrollbar-thumb:active {
    background: #98B2B9; }
  html body ::-webkit-scrollbar-track, body body ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.6);
    border: 0px none #ffffff;
    border-radius: 0px; }
  html body ::-webkit-scrollbar-track:hover, body body ::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.6); }
  html body ::-webkit-scrollbar-track:active, body body ::-webkit-scrollbar-track:active {
    background: rgba(0, 0, 0, 0.3); }
  html body ::-webkit-scrollbar-corner, body body ::-webkit-scrollbar-corner {
    background: transparent; }
  html #login-wrapper, body #login-wrapper {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(10, 10, 10, 0.8);
    z-index: 99; }
  html #username-login-form, body #username-login-form {
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background-color: #282828;
    color: white;
    z-index: 100;
    text-align: center;
    padding-top: 22vh; }
    html #username-login-form #set-name-form, body #username-login-form #set-name-form {
      display: block;
      width: 25%;
      min-width: 125px;
      height: auto;
      padding: 5%;
      margin: 0 auto;
      font-size: 4vh;
      background: rgba(230, 230, 230, 0.6); }
      html #username-login-form #set-name-form label, body #username-login-form #set-name-form label {
        padding-bottom: 5%;
        display: block; }
      html #username-login-form #set-name-form input, body #username-login-form #set-name-form input {
        width: 15vw;
        border: none;
        font-size: 5vh;
        padding: 1vh;
        background-color: rgba(230, 230, 230, 0.6); }
      html #username-login-form #set-name-form input:nth-child(odd), body #username-login-form #set-name-form input:nth-child(odd) {
        margin-top: 2vh;
        width: 7.5vw;
        padding: 2%;
        font-size: 3vh;
        border: none; }
  html #content-wrapper, body #content-wrapper {
    width: 100%;
    height: 100%;
    background-color: #677271;
    overflow-y: auto; }
    html #content-wrapper #chat-wrapper, body #content-wrapper #chat-wrapper {
      display: block;
      width: 80%;
      height: 90%;
      margin: 0 0 0 auto; }
      html #content-wrapper #chat-wrapper #chat, body #content-wrapper #chat-wrapper #chat {
        background-color: rgba(20, 20, 20, 0.9);
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: block; }
        html #content-wrapper #chat-wrapper #chat .msgWrapper .msgUsername, body #content-wrapper #chat-wrapper #chat .msgWrapper .msgUsername {
          padding: 1vw;
          display: block;
          font-size: 2.5vw;
          color: #F4CB86; }
        html #content-wrapper #chat-wrapper #chat .msgWrapper .error, body #content-wrapper #chat-wrapper #chat .msgWrapper .error {
          color: red;
          display: block; }
        html #content-wrapper #chat-wrapper #chat .msgWrapper .whisper, body #content-wrapper #chat-wrapper #chat .msgWrapper .whisper {
          color: gray;
          font-style: italic; }
        html #content-wrapper #chat-wrapper #chat .msgWrapper .msg, body #content-wrapper #chat-wrapper #chat .msgWrapper .msg {
          text-indent: 5%;
          padding: 2% 5%;
          display: block;
          width: 80%;
          opacity: .7;
          overflow-x: hidden;
          text-align: justify;
          font-size: 2.25vw;
          margin: 0 0 2vh;
          color: #EFC793; }
    html #content-wrapper #sender-wrapper, body #content-wrapper #sender-wrapper {
      width: 100%;
      height: 10%;
      background: rgba(67, 67, 85, 0.9); }
      html #content-wrapper #sender-wrapper #input-container, body #content-wrapper #sender-wrapper #input-container {
        width: 100%;
        height: 100%; }
        html #content-wrapper #sender-wrapper #input-container #message, body #content-wrapper #sender-wrapper #input-container #message {
          width: 40%;
          max-width: 40%;
          height: auto;
          margin: 0 auto;
          display: block;
          border: none;
          overflow-y: hidden;
          font-size: 3vh;
          resize: none; }
    html #content-wrapper #users, body #content-wrapper #users {
      width: 10%;
      height: 30%;
      display: block;
      position: absolute;
      overflow-y: auto;
      background-color: rgba(189, 186, 161, 0.5);
      top: 5%;
      left: 0;
      padding: 2.5%;
      text-align: center; }
      html #content-wrapper #users .usersList, body #content-wrapper #users .usersList {
        font-size: 1.9vw;
        display: block;
        color: #F4CB86;
        padding: 1vw 0; }

/*# sourceMappingURL=chat-style.css.map */
